# .gitignore
.DS_STORE
node_modules
scripts/flow/*/.flowconfig
*~
*.pyc
.grunt
_SpecRunner.html
__benchmarks__

# build/ - NB: This has been removed to include builds on published versions
docs/
remote-repo/
coverage/
.module-cache
fixtures/dom/public/react-dom.js
fixtures/dom/public/react.js
test/the-files-to-test.generated.js
*.log*
chrome-user-data
*.sublime-project
*.sublime-workspace
.idea
*.iml
.vscode
*.swp
*.swo

# Repository files to not bundle
.esdoc.json
.eslintignore
.eslintrc.js
.gitattributes
.gitignore
.prettierrc.json
jest.config.js
package-lock.json
tsconfig.json
tsconfig.dist.json
typedoc.js
src/**/*
docs/**/*
examples/**/*
test/**/*
examples/**/*
.github/**/*
